.nextEvent{
  display: flex;
  margin: auto;
  height: 120px;
  /* border: solid green; */
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 40%;
  border-radius: 4%;
  border: solid grey;
  background: grey;
}

.box:hover{border: solid red}

.timerBox {
  width: fit-content;
}

.eventBox{
  overflow: hidden;
  margin-left: 1%;
  max-width: 450px;
}

.eventBox:hover {
  overflow: visible;
  min-height: fit-content;
  z-index: 0;
}

.noEvents {
  margin: auto;
  font-size: 20pt;
  width: 400px;
  text-align: center;
}

.eventLabel {
  margin: auto;
  width: fit-content;
  text-align: center;
  font-size: 25pt;
}

.eventInfo{
  margin: auto;
  width: 70%;
  font-size: 15pt;
}

.timer {
  display: flex;
  margin: auto;
  width: fit-content;
}

.colon {
  font-size: 45pt;
  position: relative;
  float: right;
}
