.nextEvent{
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 940px;
  height: 200px;
}

.timerBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 0 5%;
  border-radius: 4%;
  background: grey;
}

.timerBox p {
  margin-top: 0;
  font-size: 20pt;
  width: 400px;
  text-align: center;
}

.timerLabel {
  font-size: 40pt;
  height: fit-content;
  margin: auto 0;
}

.timer {
  display: flex;  
  margin: auto;
  width: fit-content;
}

.colon {
  font-size: 45pt;
  position: relative;
  float: right;
}

.event {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  border-radius: 4%;
  background: grey;
}

.eventBox {
  /* border: solid red; */
  margin: auto;
  margin-left: 30px;
  height: fit-content;
}