.App {
  width: fit-content;
  margin: 5% auto;
}

h1 {
  width: fit-content;
  margin: auto;
}

form {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 20px auto;
}

.schedule {
  margin-top: 30px;
}

.calendarId{
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 14pt;
}

.idInput {
  margin: 0 25px;
  font-size: 14pt;
  text-align: center;
  width: 500px;
}